:root {
    --main-color: red;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(203, 209, 209);
    margin: 0 0 0 0;
}

main {
    align-items: center;
    width: 99%;
}


/* ==================HEADER====================== */

header {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #397e99 0%, #ffffff 100%);
}

header h1 {
    font-size: 2rem;
    margin-top: -4.9rem;
    text-align: center;
    margin-right: -5rem;
    text-shadow: 2px #000000;
}

header img {
    width: 100px;
    padding-left: 5.5rem;
    padding-bottom: .7rem;
}


/* ======================NAV====================== */

nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

nav ul li {
    border: 1px;
    list-style: none;
    padding-top: .3rem;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
}


/* ================ hover =================== */

aside ul li a:hover,
nav a:hover {
    background-color: rgb(0, 178, 190);
    border-radius: .25rem;
}


/* ================section===================== */

section {
    padding: 0 20px 20px 20px;
    width: 875px;
    float: left;
}

section h2 {
    font-size: 160%;
    padding-bottom: .25em;
}

section p {
    padding-bottom: .5em;
    justify-content: center;
}

section {
    column-count: 2;
}

section img {
    width: 275px;
    float: left;
    margin: .25em 1em 1em 0;
    border: 1px solid black;
}


/* ==============aside================ */

aside {
    width: 215px;
    float: right;
    padding: 0 0 20px 20px;
}

aside ul {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -15px;
    background-color: #000000;
    padding-right: 1rem;
    color: #FFF;
    width: 90%;
    border-radius: .8rem;
}

aside ul li {
    list-style: none;
    padding-top: .5rem;
}

aside ul li a {
    text-decoration: none;
    color: #FFF;
}

aside h5 {
    font-size: 110%;
    padding-bottom: 0;
}


/* right link */

.aside1 {
    width: 215px;
    float: left;
    padding: 0 0 20px 20px;
    margin-top: 30px;
}

.aside1 ul {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    background-color: #000000;
    padding-right: 1rem;
    color: #FFF;
    width: 90%;
    border-radius: .8rem;
}

.aside1 ul li {
    list-style: none;
    padding-top: .5rem;
}

.aside1 ul li a {
    text-decoration: none;
    color: #FFF;
}

.aside1 h5 {
    font-size: 110%;
    padding-bottom: 0;
}


/* ============footer=============== */

.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html {
    border-top: 5px solid #fff;
    background: #58DDAF;
    color: #2a2a2a;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    /* -webkit-transition: all 0.2s ease; */
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}