body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(203, 209, 209);
    margin: 0 0 0 0;
}

main {
    align-items: center;
    width: 99%;
}


/* ==================HEADER====================== */

header {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #397e99 0%, #ffffff 100%);
}

header h1 {
    font-size: 2rem;
    margin-top: -4.9rem;
    text-align: center;
    margin-right: -5rem;
    text-shadow: 2px 3px 4px #000000;
}

header img {
    width: 100px;
    padding-left: 5.5rem;
    padding-bottom: .7rem;
}


/* ======================NAV====================== */

nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

nav ul li {
    border: 1px;
    list-style: none;
    padding-top: .3rem;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
}


/* ================ hover =================== */

aside ul li a:hover,
nav a:hover {
    background-color: rgb(0, 178, 190);
    border-radius: .25rem;
}


/* ============== aside ================ */

aside {
    width: 215px;
    float: left;
    padding: 0 0 20px 20px;
}

aside ul {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -15px;
    background-color: #000000;
    padding-right: 1rem;
    color: #FFF;
    width: 90%;
    border-radius: .9rem;
}

aside ul li {
    list-style: none;
    padding-top: .5rem;
}

aside ul li a {
    text-decoration: none;
    color: #FFF;
}

aside h5 {
    font-size: 110%;
    padding-bottom: 0;
}

.aside__img {
    width: 15px;
    margin-right: 10px;
    background-color: #FFF;
}


/* ==============section==================== */

section img {
    margin-top: 50px;
    float: right;
}

.link {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    color: #FFF;
    background-color: #000000;
    margin-left: 20%;
}


/* ============footer=============== */

footer {
    background-color: #000000;
    clear: both;
    color: #FFF;
    padding-bottom: 1px;
    margin-top: 500px;
}

footer h5 {
    padding: .7rem 0 0 1rem;
    font-size: 110%;
}

footer p {
    margin: -10px 0 10px 0;
    text-align: center;
    color: white;
}

footer h6 {
    text-align: center;
    font-size: 110%;
}